@import './../../variable.scss';
.toolbar {
    z-index: 9999;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.3);
    background-color: $primaryColorDark;
    padding: 0 24px;
    display: flex;
    font-size: 24px;
    line-height: $toolbarHeight;
    color: $primaryColorText;
    .title {
        flex: auto;
        font-weight: 400;
        .link {
            font-weight: 700;
            color: $accentColor;
        }
    }
    .icon {
        flex: none;
        text-align: center;
        .fa {
            width: 48px; 
        }
        div {
            float: left;
            font-size: 14px;
            padding-left: 8px;
        }
    }
    .icon:hover {
        background-color: $accentColor;
    }
}
